<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>64099197231-huq4uib8u68qonankgpaje8l9mbfjtvq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64099197231-huq4uib8u68qonankgpaje8l9mbfjtvq</string>
	<key>API_KEY</key>
	<string>AIzaSyByC1saITmhqVbXrwyrDSoo6fA-K5hkNoc</string>
	<key>GCM_SENDER_ID</key>
	<string>64099197231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reme</string>
	<key>PROJECT_ID</key>
	<string>reme-57c1b</string>
	<key>STORAGE_BUCKET</key>
	<string>reme-57c1b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64099197231:ios:2fc26afdba6d7ed02481da</string>
</dict>
</plist>